.layout {
    display: flex;
    height: 100vh;
    background: #f5f6fa;
    overflow: hidden;
}

/* Sidebar */
.sidebar {
    width: 230px;
    background: #fff;
    border-right: 1px solid #eaeaea;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Ensure menu items are in a column */
.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.menu-item {
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-item:hover {
    background: #f0f0f0;
}

.logout-btn {
    width: 100%;
    padding: 10px 12px;
    background: #36abf4;
    /* red */
    color: white;
    border: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: auto;
}

.logout-btn:hover {
    background: #2f34d3;
}

.logout-btn:active {
    background: #b71c1c;
}