<div class="container">

    <h2>Create Post</h2>

    <form [formGroup]="postForm" (ngSubmit)="submit()">

        <!-- Title -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" placeholder="Enter title" />

            @if (postForm.get('title')?.touched && postForm.get('title')?.invalid) {
            <mat-error>Title is required.</mat-error>
            }
        </mat-form-field>

        <!-- Description -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput rows="4" formControlName="description" placeholder="Enter description"></textarea>

            @if (postForm.get('description')?.touched && postForm.get('description')?.invalid) {
            <mat-error>Description is required.</mat-error>
            }
        </mat-form-field>

        <!-- Post Type -->
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Post Type</mat-label>
            <mat-select formControlName="type">

                <mat-option value="">Select type</mat-option>

                @for (t of postTypes; track t) {
                <mat-option [value]="t"> {{ postTypeLabels[t] }}</mat-option>
                }
            </mat-select>

            @if (postForm.get('type')?.touched && postForm.get('type')?.invalid) {
            <mat-error>Post type is required.</mat-error>
            }
        </mat-form-field>

        <button mat-raised-button color="primary" class="full-width" type="submit" [disabled]="postForm.invalid">
            Create Post
        </button>

    </form>

    <button mat-button (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
        Back
    </button>

</div>