.chart-card {
    width: 400px;
    height: 200px;
    padding: 8px 10px;

    border-radius: 16px;
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-card .mat-mdc-card-title {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

/* Canvas wrapper */
.chart-card mat-card-content {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Canvas styling */
#statusChart {
    max-width: 300px !important;
    max-height: 150px !important;
    padding: 20px;
    background: #fafafa;
    border-radius: 12px;
    border: 1px solid #eee;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}