<div class="layout">
    <aside class="sidebar">
        <h2 class="logo" style="display:flex; align-items:center; gap:8px;"><mat-icon>supervisor_account</mat-icon>IMS
            Admin</h2>

        <nav class="menu">
            <a routerLink="/admin/admindashboard" class="menu-item"
                style="display:flex; align-items:center; gap:8px;"><mat-icon>dashboard</mat-icon>Dashboard</a>
            <a routerLink="/admin/posts" class="menu-item"
                style="display:flex; align-items:center; gap:8px;"><mat-icon>article</mat-icon>All Posts</a>
            <a routerLink="/admin/users" class="menu-item"
                style="display:flex; align-items:center; gap:8px;"><mat-icon>group</mat-icon>Users</a>
            <a routerLink="/create-post" class="menu-item"
                style="display:flex; align-items:center; gap:8px;"><mat-icon>add</mat-icon>Create Post</a>
        </nav>

        <button class="logout-btn" (click)="logout()">
            <span class="material-icons">logout</span>
            Logout
        </button>
    </aside>

    <main class="content">
        <router-outlet></router-outlet>
    </main>

</div>